<mat-nav-list>
  <div class="menu-header">
    <h1 class="primary-color">Main Menu
    </h1>
  </div>

  <div *ngIf="user$ | async as user" class="menu-body">
    <a mat-list-item routerLink="{{nav.route}}" *ngFor="let nav of userNavItems" role="menuitem"
       routerLinkActive="nav-item-active">{{nav.title}}</a>
    <ng-container *ngIf="user.is_editor">
      <hr>
      <a mat-list-item routerLink="{{nav.route}}" *ngFor="let nav of hikeNavItems" role="menuitem"
         routerLinkActive="nav-item-active">{{nav.title}}</a>
    </ng-container>
    <ng-container *ngIf="user.is_admin">
      <hr>
    </ng-container>
  </div>
</mat-nav-list>

