/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Architects Daughter", "Gudea", sans-serif; }
h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
}
.display-none {
  display: none;
}
