{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section">
        {% if view.hiker.hiker.get_full_name %}
            <h2>{{ view.hiker.hiker.get_full_name }}</h2>
            <h4>{{ view.hiker.hiker.username }}</h4>
        {% else %}
            <h2>{{ view.hiker.hiker.username }}</h2>
        {% endif %}
    </div>
    <div class="section">
        <h4>My Hiking Photos</h4>
        <div class="photo-list container-fluid">
            {% if photos %}
                {% for photo in photos %}
                    <div class="photo col-md-3">
                        <h5 class="photo-title">{{ photo }}</h5>
                        {% if photo.photo %}
                            <p class="photo-image"><img src="{{ photo.photo.url }}" class="hiker-photo"></p>
                        {% else %}
                            <p class="photo-missing">Photo missing or not added.
                                Edit title or Delete Title</p>
                        {% endif %}
                        <p class="photo-date">created on: {{ photo.created }}</p>
                        <p class="photo-public">Publicly viewable: {{ photo.make_public }}</p>
                    </div>
                {% endfor %}
            {% else %}
                No photos yet
            {% endif %}
        </div>
    <a href="{% url 'hikers:photos_add' user_slug=view.hiker.slug %}">Add new photo</a>
    </div>
    <div class="section">
        <a href="{% url 'hikers:diaries' user_slug=view.hiker.slug %}">Hiking Diary</a> |
        <a href="{% url 'hikers:photos' user_slug=view.hiker.slug %}">Hiking Photos</a> |
        <a href="{% url 'hikers:myhikes' user_slug=view.hiker.slug %}">My Hikes</a>
    </div>
{% endblock %}