{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section">
        {% if view.hiker.hiker.get_full_name %}
            <h2>{{ view.hiker.hiker.get_full_name }}</h2>
            <h4>{{ view.hiker.hiker.username }}</h4>
        {% else %}
            <h2>{{ view.hiker.hiker.username }}</h2>
        {% endif %}
    </div>
    <div class="section">
    <h4>My Hiking Diary</h4>
        <ul class="diary-list">
            {% if diaries %}
                {% for diary in diaries %}
                    <li class="diary-entry">
                        <h5 class="diary-entry-title">{{ diary }}</h5>
                        {% if diary.hike %}
                            <a href="{{ diary.hike.get_absolute_url }}">{{ diary.hike }}</a>
                        {% endif %}
                        <p class="diary-entry-body">{{ diary.diary_entry }}</p>
                        <p class="diary-entry-date">created on: {{ diary.created }}</p>
                        <p class="diary-entry-public">Publicly viewable: {{ diary.make_public }}</p>
                        {% if diary.diary_photos.all %}
                            <div class="photo-list container-fluid">
                                {% for photo in diary.diary_photos.all %}
                                    <div class="photo col-md-3">
                                        {% if photo.photo %}<img src="{{ photo.photo.url }}">{% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                No diary entries yet
            {% endif %}
        </ul>
    <a href="{% url 'hikers:diaries_add' user_slug=view.hiker.slug %}">Add new diary entry</a>
    </div>
    <div class="section">
        <a href="{% url 'hikers:diaries' user_slug=view.hiker.slug %}">Hiking Diary</a> |
        <a href="{% url 'hikers:photos' user_slug=view.hiker.slug %}">Hiking Photos</a> |
        <a href="{% url 'hikers:myhikes' user_slug=view.hiker.slug %}">My Hikes</a>
    </div>
{% endblock %}