{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section">
        {% if view.hiker.hiker.get_full_name %}
            <h2>{{ view.hiker.hiker.get_full_name }}</h2>
            <h4>{{ view.hiker.hiker.username }}</h4>
        {% else %}
            <h2>{{ view.hiker.hiker.username }}</h2>
        {% endif %}
    </div>
    <div class="section">
    <h4>Hikes I have taken</h4>
        <ul class="hike-list">
            {% if hikes %}
                {% for hike in hikes %}
                    <li class="hike">

                        <a href="{{ hike.get_absolute_url }}">
                            {{ hike.name }}
                        </a>
                        :  Last hiked on: {{ hike.last_hiked }} | My rating: {{ hike.get_rating_display }}
                        <br>difficulty level: {{ hike.get_difficulty_level_display }} | distance: {{ hike.distance }} | elevation gain: {{ hike.elevation }}

                    </li>
                {% endfor %}
            {% else %}
                No hikes added yet
            {% endif %}
        </ul>
    </div>
    <div class="section">
    <h4>Hikes I would like to take</h4>
        <ul class="hike-list">
            {% if view.future_hikes %}
                {% for hike in view.future_hikes %}
                    <li class="hike">

                        <a href="{{ hike.get_absolute_url }}">
                            {{ hike.name }}
                        </a>
                        :  difficulty level: {{ hike.get_difficulty_level_display }} | distance: {{ hike.distance }} | elevation gain: {{ hike.elevation }}

                    </li>
                {% endfor %}
            {% else %}
                No hikes added yet
            {% endif %}
        </ul>
    </div>
    <div class="section">
        <a href="{% url 'hikers:diaries' user_slug=view.hiker.slug %}">Hiking Diary</a> |
        <a href="{% url 'hikers:photos' user_slug=view.hiker.slug %}">Hiking Photos</a> |
        <a href="{% url 'hikers:myhikes' user_slug=view.hiker.slug %}">My Hikes</a>
    </div>
{% endblock %}