h3 a {
    color: #216629;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Architects Daughter', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.hike-form textarea, .hike-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.hike {
    margin-bottom: 70px;
}

.hike h1 a, .hike h1 a:visited {
    color: #000000;
}

.list-link {
    font-size: 12px;

}

#search_browse_links{
    font-size: 24px;
    color: #216629;
    font-family: 'Architects Daughter', cursive;
}

#search_browse_links:visited{
    color: #542107;
}


/******************
HEADING
******************/

.page-header {
    background-color: #0D6317;
    margin: 0 0 30px 0;
    padding: 5px 0 0 10px;
    width: 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h1 {
    float: left;
}


/*****************
USER HEADER
******************/

.user-header {
  text-align:right;
  padding:10px 0;
  margin:20px 0 0;
  display: inline;
 }

.user-header ul {
  list-style:none;
  margin:0 10px;
  padding:5px;
}

.user-header li{
  display:block;
}

.user-header a{
  font-weight:800;
  padding:15px 10px;
  color: #ffffff;
}

