<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/hikes.css" %}" />
    {% block head-block %}
    {% endblock %}
    {% block head-block2 %}
    {% endblock %}
<title>Hike the Planet: {% block title_block %}Pacific Northwest{% endblock %}</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/hikes">Hike the Planet: Pacific Northwest</a></h1>

        <div class="user-header">
            <span>
            <ul>
              <li> <img src="{% static "images/hiker.png" %}" alt="default photo" class="profile-photo" height="126" width="87"></li>
              <li><a href="#" class="login-link" data-toggle="modal" data-target="#loginModal">Login or Register</a></li>
            </ul>
            </span>
        </div>
    </div>

    {% block modal-block %}
    {% endblock %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
