{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
        <meta charset="UTF-8">
        <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{% static "css/hikes.css" %}" media="screen"/>
        <title>Hike the Planet: {% block title %}Pacific Northwest{% endblock %}</title>
    {% endblock %}
</head>

<body>
<div id="wrapper">
    <div class="page-header">
        <h1><a href="/">Hike the Planet: Pacific Northwest</a></h1>

        <div class="user-header">
            <span>

                  {% if user.is_authenticated %}
                    <a href="{% url 'hiker_profile' user_slug=user.hiker.slug %}">Hello {{ user.username }}</a><small>(<a href="{% url 'account_logout' %}">Log out</a>)</small>
                  {% else %}
                    <a href="{% url 'account_login' %}">Login</a> / <a href="{% url 'account_signup' %}"> Register</a>
                  {% endif %}

                   <img src="{% static "images/hiker.png" %}" alt="default photo" class="profile-photo" height="80" width="70">
            </span>
        </div>
    </div>


        {% block modal %}
        {% endblock %}


    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
    <div class="push"></div>
</div>

    <div class="page-footer">
        <div id="footer-spacer"> </div>
        <div id="footer-content">
        <p>&copy; rainTech. All contents of this website, including text, images, and code are property of rainTech/Fable Turas.<br>
           credit for index page UX layout goes to <a href="http://45thparallelwebdesign.com/">45th Parallel Web Design, LLC.</a></p>
        </div>
    </div>

{% block javascript %}
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static "js/hikes.js" %}"></script>
{% endblock %}
</body>
</html>
