suudo apt-get update

sudo apt-get install -y python-setuptools python-dev build-essential git-core -y
sudo apt-get install -y libjpeg-dev
sudo easy_install pip
sudo pip install virtualenv
sudo apt-get install -y virtualenvwrapper


apt-get install memcached
apt-get install libevent-dev


# Postgresql Db set up
sudo apt-get install -y postgresql postgresql-client postgresql-contrib postgresql-server-dev-9.3  pgadmin3

sudo apt-get install -y binutils libproj-dev gdal-bin libxml2-dev libjson0-dev libgeoip2

tar xjf requirements/geos-3.4.2.tar.bz2
cd requirements/geos-3.4.2
./configure
make
sudo make install

sudo apt-get install -y postgis postgresql-9.3-postgis-2.1


sudo -u postgres createdb {db_name_from_settings}

sudo -u postgres psql postgres
	CREATE USER {user_from_settings} WITH PASSWORD '{password_from_settings}';
	GRANT ALL PRIVILEGES ON DATABASE {project_db_name} to {user_from_settings};