{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "leaflet/leaflet.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}" />
 {% endblock head %}

{% block modal %}
    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="mapModalLabel">Pass in Region Name</h4>
          </div>
          <div class="modal-body">
            <p></p>
              <div class="modal-body" id="map">
              </div>
           </div>
        </div>
      </div>
    </div>
{% endblock modal %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "leaflet/leaflet.js" %}"></script>
    <script src="{% static "leaflet/leaflet_modal.js" %}"></script>
    <script src="http://open.mapquestapi.com/sdk/js/v7.2.s/mqa.toolkit.js?key=Fmjtd%7Cluu82968l1%2Caa%3Do5-9w1xuf"></script>
    <script>initmap()</script>
    <script src="{% static "js/pass_to_modal.js" %}"></script>
{% endblock %}