{% extends 'base.html' %}
{% load staticfiles %}

{% block head-block %}
    <link rel="stylesheet" type="text/css" href="{% static "leaflet/leaflet.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}" />
    <script type="text/javascript" src="{% static "leaflet/leaflet.js" %}"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.s/mq-map.js?key=Fmjtd%7Cluu82968l1%2Cag%3Do5-9w1x96"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.s/mq-routing.js?key=Fmjtd%7Cluu82968l1%2Cag%3Do5-9w1x96"></script>

 {% endblock head-block %}

{% block modal-block %}



    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="mapModalLabel">Directions</h4>
          </div>
          <div class="modal-body">
            <script src="{% static "js/hikes.js" %}"></script>

                    <div id="map"  class="modal-body"></div>
                        <p><a href="#" onclick="toggleDisplay('route-narrative');" id="view_directions">View Steps</a></p>
                    <div id='route-narrative' style='margin-top:20px; display: none'></div>

           </div>
        </div>
      </div>
    </div>
<script src="{% static "leaflet/leaflet_directions.js" %}"></script>
{% endblock modal-block %}