
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
        var request = new XMLHttpRequest();


        function simple_draw(data) {
            var list = document.getElementById("list");
            data.forEach(function (item) {
                list.innerHTML += item["name"];
            });
        }

        function element_draw(data) {
            var list = document.getElementById("list");
            data.forEach(function (item) {
                var li = document.createElement("li");
                li.innerHTML = item["name"] + ", " + item["number"];
                list.appendChild(li);
            });
        }

        function classic_for_element_draw(data) {
            var list = document.getElementById("list");
            for (var index = 0; index < data.length; index++) {
                var item = data[index];
                var li = document.createElement("li");
                li.innerHTML = item["region"] + ", " + item["number of hikes"];
                list.appendChild(li);
            }
        }


        function draw(data) {
            var list = document.getElementById("list");
            var template = document.getElementById("template");
            var output = [];
            data.forEach(function (item) {
                console.log(item);
                var text = template.innerHTML;
                for (var p in item) {
                    if (item.hasOwnProperty(p)) {
                        text = text.replace("{region." + p + "}", item[p]);
                    }
                }
                output.push(text)
            });
            list.innerHTML = "<li>" + output.join("</li><li>") + "</li>";
        }

        function onRequestChange() {
            console.log(request.readyState, request.status);
            if ((request.readyState == 4) && (request.status == 200)) {
                var data = JSON.parse(request.responseText);
                draw(data);
                //simple_draw(data);
                //element_draw(data);
                //classic_for_element_draw(data);
            }
        }

        function fetch() {
            request.onload = undefined;
            request.onreadystatechange = onRequestChange;
            request.open("GET", "/hikes/ajax", true);
            request.send();
        }
        function load() {
            fetch();
        }
        window.addEventListener("load", load);


        function saveData(formData){
            request.open("POST","/hikes/ajax/",true);
            request.onload = fetch;
            request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            request.send(formData);
        }

        function captureSubmit(){
            //Get inputs inside form and iterate over them.
            var elementList = document.getElementById("f1").children;
            formDataList = [];
            //Creating something like this:
            //title=spiderman&role=hero&color=red
            for(var i=0; i < elementList.length; i++){
                var element = elementList[i];
                formDataList.push(
                        encodeURIComponent(element.name)
                        + "=" +
                        encodeURIComponent(element.value)
                );
                console.log(element.name);
            }
            saveData(formDataList.join("&"));
            //CANCEL FORM SUBMISSION; must be returned in onsubmit below.
            return false;
        }


    </script>
    <style>
        .template {
            display: none;
        }
    </style>
</head>
<body>
<form id="f1" action="/hikes/ajax/" method="post" onsubmit="return captureSubmit()">
    <input name="region">
    <input type="submit" value="submit">
</form>

<ul id="list">
 </ul>
<ul class="template">
    <li id="template" class="template">
        <span>
           Region: {region.region}
        </span>
        <br>
        <span>
           Number of trailheads: {region.num_hikes}
        </span>
        <br>
        <br>
    </li>
</ul>
</body>
</html>