{% load static %}
<h4>Browse Hikes by Region</h4>
<div class="row">
    {% if region_list %}
        {% for region in region_list %}
             <div class="col-md-4">
                <p>{{ region.name }} ({{ region.num_trailheads }} trailheads)
                <a class="region-modal-link" data-toggle="modal" data-target="#mapModal" data-whatever="{{ region.name }}" role="button">
                    <img src="{% static "images/map-icon-18px.png" %}" alt="view by map" class="map_icon" height="14" width="14"></a>
                <a href="{% url region region_slug=region.slug %}"  class="list-link" role="button">
                    <img src="{% static "images/list-icon-30px.png" %}" alt="view by list" class="list_icon" height="14" width="14">
                </a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <strong>There are no regions present.</strong>
    {% endif %}
</div>


