{% extends 'base.html' %}


{% block content %}
        <h2>{{ region.name }}</h2>
            {% if region.trailheads.all %}
                {% for trailhead in region.trailheads.all %}
                    <ul>
                        <a href="{% url 'hikes:trailhead' region_slug=region.slug trailhead_slug=trailhead.slug %}">
                            {{ trailhead.name }}
                        </a>
                        : lat: {{ trailhead.latitude }} | lng: {{ trailhead.longitude }}
                        - {{ trailhead.num_hikes }} hikes starting here
                    </ul>
                {% endfor %}
            {% else %}
                    <strong>No locations currently in region.</strong>
            {% endif %}
{% endblock content %}