{% extends 'base.html' %}


{% block content %}
        <h2>{{ region }}</h2>
    {% if region %}
        {% if trailheads %}
            {% for trailhead in trailheads %}
                {% if trailhead.region == region %}
                    <ul><a href="/hikes/{{ trailhead.url }}"> {{ trailhead.name }}</a>: lat: {{ trailhead.latitude }} | lng: {{ trailhead.longitude }} - {{ trailhead.num_hikes }} hikes starting here</ul>
                {% else %}
                    <strong>No locations currently in region.</strong>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}
        The specified region {{ region }} does not exist!
    {% endif %}
{% endblock content %}