{% extends 'base.html' %}


{% block content %}
    <div class="section">
        <h2>{{ trailhead.name }} - <a href="{{ trailhead.region.get_absolute_url }}">
            {{ trailhead.region }}</a></h2>
            {% if trailhead.hikes.all %}
                {% for hike in trailhead.hikes.all %}
                    <ul>
                        <a href="{{ hike.get_absolute_url }}">
                            {{ hike.name }}
                        </a>
                        :  difficulty level: {{ hike.get_difficulty_level_display }} | distance: {{ hike.distance }} | elevation gain: {{ hike.elevation }}
                    </ul>
                {% endfor %}
            {% else %}
                    <strong>No locations currently at this trailhead.</strong>
            {% endif %}
    </div>
{% endblock content %}