{% extends 'hikes/../base.html' %}


{% block content %}
        <h2>{{ trailhead }}</h2>
    {% if trailhead %}
        {% if hikes %}
            {% for hike in hikes %}
                {% if hike.trailhead == trailhead %}
                    <ul><a href="/hikes/hike/{{ hike.url }}"> {{ hike.name }}</a> difficulty level: {{ hike.difficulty_level }} | Likes: {{ hike.likes }}</ul><br>
                {% else %}
                    <strong>No locations currently at this trailhead.</strong>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}
        The specified trailhead {{ trailhead }} does not exist!
    {% endif %}
{% endblock content %}