{% extends 'base.html' %}


{% block content %}
        <h2>{{ trailhead.name }}</h2>
            {% if trailhead.hikes.all %}
                {% for hike in trailhead.hikes.all %}
                    <ul>
                        <a href="{% url 'hike' region_slug=trailhead.region.slug trailhead_slug=trailhead.slug  hike_slug=hike.slug%}">
                            {{ hike.name }}
                        </a>
                        :  difficulty level: {{ hike.difficulty_level }} | distance: {{ hike.distance }} | elevation gain: {{ hike.elevation }}
                    </ul>
                {% endfor %}
            {% else %}
                    <strong>No locations currently at this trailhead.</strong>
            {% endif %}
        {% endif %}
{% endblock content %}