.mapped-trailheads-container {
  height: calc(100vh - var(--header-height) - var(--footer-height)); /*minus heights of header & footer*/
}
.mapped-trailheads-map {
  height: 100%;
}
.mapped-trailheads-sidebar {
  background: var(--gray-light-ultra);
  box-shadow: -1px 1px 2px 0 var(--gray-light);
  width: 375px;
  height: 100%
}
