{% load static i18n %}

<div class="page-header">
    <h1><a href="/">Hike the Planet: Pacific Northwest</a></h1>

    <div class="user-header">
        <span>
            <div class="login-link-box">
                {% if user.is_authenticated %}
                    <a href="{% url 'hikers:profile' user_slug=user.username %}" class="login-link" role="button">
                        Hello {{ user.username }}
                    </a>
                    <small><a href="{% url 'account_logout' %}" class="login-link" role="button">( Log out )</a></small>
                {% else %}
                    <a href="{% url 'account_login' %}" class="login-link" role="button">
                        Login
                    </a>
                    /
                    <a href="{% url 'account_signup' %}" class="login-link" role="button">
                      Register
                    </a>
                {% endif %}
            </div>
            {% if user.is_authenticated and user.hiker.profile_pic %}
                <img src="{{ user.hiker.profile_pic.url }}" alt="profile photo" id="profile-photo-thumb" class="profile-photo" height="80" width="70">
            {% else %}
                <img src="{% static "images/hiker.png" %}" alt="default profile photo" id="profile-photo-thumb" class="profile-photo" height="80" width="70">
            {% endif %}
        </span>
    </div>
</div>
